@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');
body{
    margin: 0px;
    padding: 0px;
    font-family: vollkorn;
}

.estrutura{
    display: grid;
    grid-template-columns: minmax(160px, 1fr) 3fr 300px;
    grid-template-areas:
     "header header header"
     "sidenav conteudo anuncio"
     "footer footer footer"
     ;
}

.footer{
    grid-area: footer;
}

.header{
    grid-area: header;
    display: flex;
    justify-content: space-between;
    background: rgb(42, 82, 60);
    padding: 10px;
}
.header img{
    max-width: 120px;
    padding-inline: 30px;
}
.links{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 30px;
    font-size: 15px;
    margin-top: 30px;
    padding-inline: 50px;
    color: white;
}
.links li{
    background-color: rgb(37, 70, 52);
    padding: 5px 15px 1px;
    border-radius: 10px;
    cursor: pointer;
}
.links li:hover{
    background-color: rgb(48, 109, 76);
    transition: 1s ease;
}
.sidenav{
    grid-area: sidenav;
}
.sidenav ul{
    list-style: none;
}
.sidenav ul img{
    max-width: 80px;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px 3px rgb(175, 173, 173);
}
.anuncio{
    grid-area: anuncio;
}
.anuncio div img{
    max-width: 205px;
    margin-top: 35px;
    margin-left: 25px;
}
h1{
    font-size: 35px;
    color: rgb(48, 109, 76);
}
p{
    font-size: 20px;
}
.html1{
    max-width: 450px;
    padding-inline: 10px;
}
.html2{
    max-width: 400px;
}
.conteudo{
    display: grid;
    margin: 15px;
}
.foto1{
    grid-column: 1;
}
.pt1{
    grid-column: span 2;
    margin: 5px;
    text-align: justify;
}
.pt2{
     grid-column: 1;
     text-align: justify;
     padding-inline: 10px;
}
.pt3{
    grid-column: 2;
    grid-row: 2;
    text-align: justify;
    padding-inline: 10px;
}
.retangulo-verde {
    grid-row: 4;
    grid-column:1 / span 2;
    width: 100%;
    height: 110px; 
    background-color:rgb(42, 82, 60);
    border-radius: 8px;
  }
  .retangulo-verde p{
    text-align: center;
    letter-spacing: 1px;
    color: #ffffff;
  }
  .pt4{
    grid-column: 2;
    grid-row: 6;
    text-align: justify;
    padding-inline: 10px;
  }
  .retangulo-verde2{
    grid-row: 6;
    grid-column: 1;
    width: 430px;
    height: 220px; 
    background-color:rgb(42, 82, 60);
    margin-top: 20px;
    border-radius: 8px;
    padding: 15px;
  }
  .retangulo-verde2 p{
    text-align: center;
    letter-spacing: 1px;
    color: #ffffff;
    justify-content: center;
  }
  .foto-final{
      grid-row: 7;
      grid-column:1 / span 2;
  }
  .foto-final img{
    max-width: 900px;
  }
  footer{
    grid-row: 7;
    grid-column:1 / span 3;
   background:rgb(42, 82, 60);
  }
  footer p{
      text-align: center;
      color: #ffffff;
      font-size: 21px;
  }